body {
  height: 100vh;
  margin: 0;
}

#main-grid {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 3fr 1fr;
}

.center-display {
  display: flex;
  justify-content: center;
  padding: 0 2px 0 2px;
  grid-row: span 1;
  grid-column: 2 / 3;
  /* background-color: var(--layer-color); */
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mOMqPl1BgAFngKc/QnOCQAAAABJRU5ErkJggg==");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 0 100%;
  animation: mainBoxDrawBorder 2s;
  animation-fill-mode: forwards;
  /* 여기서는 애니메이션효과를 지속시키는 방법을 사용함. */
}

@keyframes mainBoxDrawBorder {
  0% {
    background-size: 100% 0;
  }
  100% {
    background-size: 100% 100%;
  }
}

.center-box-background {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 70%;
  height: 30%;
  background-color: rgb(100, 237, 173);
}

.to-do-list {
  display: flex;
  order: -1;
  grid-row: span 1;
  grid-column: 1 / 2;
}

.gallery {
  display: flex;
  grid-row: span 1;
  grid-column: -2 / -1;
}

.anchors-display {
  display: flex;
  justify-content: center;
  padding-top: 2px;
  grid-row: 2;
  grid-column: 1 / -1;
  background-color: var(--layer-color);
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mOMqPl1BgAFngKc/QnOCQAAAABJRU5ErkJggg=="),
    url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/x8AAwMCAO+ip1sAAAAASUVORK5CYII=");
  background-repeat: no-repeat;
  background-position: top center, top center;
  background-size: 0 2px, 0% 0%;
  animation: anchorsDrawBorder 5s;
  /* 여기서는 백그라운드 컬러를 설정한 상태로 애니메이션이 끝이나면 지속하지않고 백그라운드 컬러를 보여줌 */
  /* center-display와 보이는것은 같으나 미묘한 차이가있음. */
}

@keyframes anchorsDrawBorder {
  0% {
    background-size: 0 2px, 100% 100%;
  }
  40% {
    background-size: 0 2px, 100% 100%;
  }
  100% {
    background-size: 100% 2px, 100% 100%;
  }
}

.anchors-box {
  display: flex;
  background-color: white;
  justify-content: center;
  width: 100%;
  height: 100%;
}
