$twittlerTitle: rgb(80, 176, 255);

#twittler {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ecf0f3;
  padding: 1rem 2rem;
  height: 80%;
  width: 60%;
  border-radius: 2rem;
  box-shadow: -7px -7px 10px white, 7px 7px 10px #cbced1;

  & > * {
    margin-bottom: 1rem;
  }

  #twittler-logo {
    background: url("https://img.icons8.com/color/100/000000/twitter--v2.png");
    background-size: cover;
    width: 6.5rem;
    height: 30%;
    border-radius: 50%;
    box-shadow: -7px -7px 10px white, 7px 7px 10px #cbced1;
  }

  #twittler-title {
    color: $twittlerTitle;
    font-size: 30px;
    font-weight: bold;
  }

  .input {
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 80%;

    & > label {
      margin-bottom: 5px;
    }

    & > input {
      margin-bottom: 1rem;
      height: 2rem;
      border-radius: 3rem;
      border: none;
      outline: none;
    }

    & > input[type="email"],
    & > input[type="password"] {
      padding: 0 1rem;
      overflow-x: scroll;
      background-color: #ecf0f3;
      box-shadow: inset 3px 3px 5px #cbced1, inset -3px -3px 5px white;
    }

    & > input[value="LOG IN"] {
      background-color: $twittlerTitle;
      transition: box-shadow 0.3s;
    }

    & > input[value="LOG IN"]:hover,
    & > input[value="LOG IN"]:active {
      box-shadow: 0 5px 5px -5px white, 0 5px 15px -5px $twittlerTitle;
    }
  }
}
