// $testColor: rgb(232, 243, 254);
// $testFontColor: skyblue;
// $darkBlue: rgb(36, 36, 145);

// twittler
$twittlerTitle: rgb(80, 176, 255);

//groovy
$groovy-color1: #eb4a2c;
$groovy-color2: #f5eccf;
$groovy-color3: #640e13;
$groovy-color4: #fcb043;
$cubic-bezier: cubic-bezier(0.68, -0.55, 0.265, 1.55);
